@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit&family=Poppins&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: rgb(84, 35, 144);
    color: white;
    position: sticky;
    top: 0;
}
main{
    background-color: #f1f1f1;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nav-lists ul{
    display: flex;
    list-style: none;
}
.nav-lists ul li{
    padding: 0 10px;
}
.nav-lists ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: .5s ease-in;
}
.nav-lists ul li a:hover{
    background-color: white;
    color: rgb(84, 35, 144);
}
.ri-menu-line{
    display: none;
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 10px;
}
.page-welcome{
    width: 95%;
    border-radius: 10px;
    margin: 10px auto;
    background: url('bgimg.jpg');
    background-position: center;
    background-size: cover;
    color: white;
}
.page-welcome div{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px auto;
    text-align: center;
}
.page-welcome div a{
    display: block;
    text-decoration: none;
    background-color: white;
    color: rgb(84, 35, 144);
    width: 10%;
    padding: 5px;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
}
.login-sec{
    width: 100vw;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(115, 0, 255);
}
.login-container{
    display: flex;
    width: 60%;
    background-color: white;
    border-radius: 10px;
}
.login-container img{
    width: 50%;
    border-radius: 10px;
}
.login-form{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.login-form div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
}
.login-form div input{
    border: .5px solid black;
    padding: 10px 15px;
    border-radius: 10px;
    width: 90%;
}
.login{
    display: block;
    text-decoration: none;
    color: white;
    background-color: rgb(115, 0, 255);
    padding: 5px 10px;
    border-radius: 10px;
}
signup{
    display: inline;
}
.about-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(115, 0, 255);
    width: 100vw;
    height: 93vh;
}
.about-column{
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: white;
    border-radius: 10px;
    align-items: center;
}
.about-column h3{
    background-color: rgb(84, 35, 144);
    color: white;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
    width: 100%;
}
.about-column img{
    width: 40%;
    border-radius: 50%;
}
.about-list,.skills-list{
    list-style: none;
}
.about-list li{
    margin: 10px 0;
}
.about-column details{
    margin: 0 0 10px 0;
}
.skills-list li{
    margin: 10px 0;
}
.about-column a{
    text-decoration: none;
    color: white;
    background-color: rgb(115, 0, 255);
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px 0;
}
.about-column img{
    margin: 10px 0;
}
.our-services{
    width: 95%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    background-color: #f1f1f1;
}
.service-row{
    display: flex;
    justify-content: space-around;
}
.service-container{
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    width: 45%;
    box-shadow: 10px 10px 5px #cdcdcd;
}
.service-container h3{
    margin: 10px 0;
}
.service-container P{
    padding: 0 10px;
    margin: 10px 0;
}
.service-container div{
    display: flex;
    background-color: rgb(84, 35, 144);
    color: white;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    border-radius: 10px;
}
.service-container div i{
    font-size: 100px;
}
.service-container a{
    display: block;
    width: 95%;
    background-color: rgb(84, 35, 144);
    padding: 10px 0;
    color: white;
    margin: 10px auto;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: .6s;
}
.service-container a:hover{
    background-color: rgb(115, 0, 255);
}
footer,footer ul{
    background-color: rgb(84, 35, 144);
    color: white;
    padding: 10px 0;
    list-style: none;
}
footer{
    padding: 10px;
}
.footer-upper{
    display: flex;
    width: 100%;
}
.footer-upper-left{
    width: 40%;
}
.logo-text{
    font-family: 'Satisfy', cursive;
}
.footer-upper-right{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-pages{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
.news-letter{
    display: flex;
    flex-direction: column;
}
.news-letter div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.news-letter div a{
    text-decoration: none;
    display: block;
    color: rgb(115, 0, 255);
    background-color: #ffffff;
    padding: 8px 15px;
    border-radius: 5px;
}
.news-letter input{
    width: 70%;
    display: block;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.news-letter h3,.news-letter p,.news-letter div{
    margin: 10px 0;
}
.footer-bottom p{
    margin: 10px 0;
}
.quote-section{
    width: 95%;
    margin: 10px auto;
    border-radius: 10px;
    background-color: rgb(84, 35, 144);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.quote-container{
    text-align: center;
}
.quote-container h4{
    margin: 10px 0;
}
.time-container{
    text-align: right;
}
@media (max-width:500px){
    nav{
        flex-direction: column;
        align-items: unset;
    }
    .nav-lists ul{
        width: 100%;
        flex-direction: column;
    }
    .nav-lists ul li{
        width: 100%;
        padding: 10px 0;
    }
    .nav-lists ul li a{
        display: block;
        width: 100%;
        text-align: center;
    }
    .ri-menu-line{
        display: block;
    }
    .nav-lists{
        display: none;
    }
    .nav-lists.show{
        display: flex;
    }
    .page-welcome div a{
        width: 90%;
    }
    .login-container{
        flex-direction: column;
        width: 80%;
    }
    .login-container img{
        width: 100%;
    }
    .login-form{
        width: 100%;
    }
    .login-form div{
        width: 100%;
    }
    .about-column{
        width: 90%;
    }
    .service-row{
        flex-direction: column;
        align-items: center;
    }
    .service-container{
        width: 95%;
        margin: 10px 0;
    }
    .footer-upper{
        flex-direction: column;
    }
    .footer-upper-left{
        width: 100%;
    }
    .footer-upper-right{
        width: 90%;
        margin: 10px auto;
    }
}